.f-left, .left {
  float: left !important;
}
.f-right {
  float: right !important;
}
.a-center {
  text-align: center !important;
}


#cart:hover + #ss-topcart-popup {
  display:block;
}

#ss-topcart-popup {
  overflow : inherit;
   display : none;
}

.em-header-top {
  color: #fdb927;
  background-color: #3e2666;
  z-index: 100;
  width:100%;
}     

.header-first-row {
  height: 42px;
  width: auto;
  padding: 10pxx;
  padding-top: 10px;
  margin: auto;
}

.App-logo {
  width: 25%;
  float: left;
}
.search-bar {
  width: 33%;
  float: left;
  text-align: right;
}
span.search-icon {
  padding: 7.5px;
  border: 1px solid #fff;
  border-left: 0px solid #fff;
  margin-left: -10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: #3e2666;
}
/* .fixed input.search-input {
  height: 40px;
  border-radius: 13px;
  width: 59%;
} */
input.search-input {
  height: 40px;
  border-radius: 13px;
  width: 67%;
}

.App-header {
  background-color: #3e2666;
  display: inline-block;
  height: 125px;
  color: white;
  width: 100%;
}

.App-header .search-input {
  background-color: #ffffff;
  color: #646464;
}

.App-header .logo{
  width: auto;
}

.App-link {
  color: #fdb927;
}
.authenticate{
  float: right;
  padding: 0;
  width: 25%;
  margin-top: -5px;

}
.authenticate ul {
  list-style: none;
}
.authenticate ul li{
  float: left;
  color: #fdb927;
  padding: 0 15px 0 15px;
  font-size: 20px;
}
.authenticate span.seperator {
  float: left;
  color: #fdb927;
  cursor: none;
}

.authenticate a{
  text-decoration: none;
  color: #fdb927;
}
.authenticate a:hover{
  text-decoration: none;
  color: #fdb927;
}
.authenticate select {
  height: 35px;
  background-color: #fff;
  float: right;
}
.fixed .nav-header{
  opacity:0;
  display: none;
}

.nav-header ul {
  text-align: center;
  list-style: none;
  width: 100%;
  height: 25px;
  margin: 0 auto;
  border-top: 2px solid rgba(59, 41, 100, 1); /* 0.8*/
}
.nav-header ul li{
  padding: 8px 10px;
  font-size: 21px;
  text-transform: uppercase;
  display: inline-block;
}
.nav-header ul li:hover{
  background-color: rgba(59, 41, 100, 0.8);
  border-top: 2px solid #fff;
}
.nav-header ul li a:hover{
  color: #fff;
}
.nav-header{
  width: 95%;
  height: 30px;
  padding-top: 25px;
  margin: auto;
}
.nav-header a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
}

.nav-header li a:link, .nav-header li a:visited, .nav-header li a:active, .nav-header li a{
  text-decoration: none;
  color: #fff;
  font-family: Gotham-Bold !important;
}


.em-wrapper-footer li {
  float: left;
  margin: 0px 2%;
}
.fotter-container {
  /*padding: 20px 35px 10px 35px;*/
  position: relative;
}
.em-footer-bottom .fotter-container .row-one {
  border-top: 1px solid #3e2666;
}
.fotter-container .row-one ul {
  margin: 8px;
  display: inline-block;
}
.fotter-container .row-one li{
  list-style: none;
  /*float: left;
  padding: 0 20px 0 20px;*/
  font-size: 13px;
  display: inline-block;
}
.fotter-container .row-one li{
  /*border-right: 1px solid #888;*/
}
.fotter-container .row-one li:last-child{
  /*border-right: none;*/
}
.fotter-container .row-two {
  margin-top: 10px;
}
/*.fotter-container .row-two .block{
  width: 50%;
  float: left;
}*/
.fotter-container .row-two ul {
  display: inline-block;
}
.em-wrapper-footer li{
  list-style: none;
  float: left;
  padding: 5px 5px 5px 5px;
  background-color: #3e2666;
  border-radius: 5px;
  margin: 10px 15px 15px 15px;
}
.em-wrapper-footer li:first-child{
  background-color: #fff;
}
span.social-icon {
  color: #fff;
}
.email-search-input{
  box-shadow: none;
  padding: 0 10px;
  color: #a8a8a8 !important;
  width: 60%;
  height: 30px;
  /* margin-top: 10px; */
  margin-right: 15px;
  background: #fff !important;
  font-size: 85%;
  border: 2px solid #3b2964 !important;
  border-radius: 5px;
}
.email-submit-input{
  box-shadow: none;
  color: #3b2964 !important;
  width: 30%;
  height: 30px;
  /* margin-top: 10px; */
  background: #fff !important;
  font-size: 12px;
  text-transform: uppercase;
  border: 2px solid #3b2964 !important;
  border-radius: 5px;
}
.email-submit-input:hover{
  box-shadow: none;
  color: #fff !important;
  width: 30%;
  height: 30px;
  /* margin-top: 10px; */
  background: #3b2964 !important;
  font-size: 12px;
  text-transform: uppercase;
  border: 2px solid #3b2964 !important;
  border-radius: 5px;
}
center {
  font-size: 75%;
}
/*.block{
  width: 50%;
  float: left;
  padding: 15px;
}*/
.block li {
  margin: 10px 0px 10px 0px;
}
.fixed .em-logo-sticky{
  display: block;
}
.em-logo-sticky{
  display: none;
}

.fixed .em-logo{
  display: none;
}
.em-logo img.retina-img1 {
  width: 35%;
}
.fixed .em-logo-sticky {
  width: 3.7%;
  float: left;
  margin: 0 10% 0 5%;
}
.em-footer-bottom .block li {
  margin: 0 5px;
  padding: 6px 3px;
  float: left;
  background-color: #3e2666;
  border-radius: 7px;
  width: 32px;
  height: 32px;
  font-size: 10px;
}

/* .em-footer-bottom .block li:nth-child(1){
  background-color: #fff;
} */

.wrapper_bottom_button button {
  text-transform: uppercase;
  background: none;
  border: none;
  outline: none;
}

.topcart-content button {
  background: none;
  border: none;
}

.em-footer-bottom .block{
  padding: 0px;
  margin: 0px;
}
.storeSwitcher {
  float: left;
  margin-left: 10px;
}
.fixed .search-bar {
  width: 33%;
}
.fixed .App-header:hover .nav-header{
  opacity: 1;
  transition: 1.5s;
  display: block;
}
.fixed .App-header{
  height: 62px;
  transition: 0.5s;
}
.fixed .App-header:hover {
  height: 125px;
}
.fixed .App-header{
  height: 62px;
  transition: 0.5s;
}
.link-account i.fa.fa-map-marker.col-lg-4 {
  font-size: 25px;
}
.link-account p {
  /* font-size: 12px; */
  float: left;
  padding-left: 0;
}
.storeSwitcher i.fa.fa-globe {
  font-size: 25px;
  position: relative;
  top: 3px;
  color: #fdb927;
}
.storeSwitcher select#sel {
  width: 128px;
  margin-left: 5px;
}
.deliveryZipPopup {
  width: unset;
  height: unset;
}
.deliveryZipPopup .pin-container {
  background: #fff;
  position: absolute;
  width: 50%;
  left: 18%;
}
.pin-container input#pinCode {
  border: 1px solid #aaa;
  padding: 3px;
  margin: 0 3px 3px 3px;
}
.pin-container button {
  padding: 5px 10px;
  border-radius: 3px;
  background: #fdb927;
  color: #fff;
  border: 1px solid #fff;
}
.deliveryZipPopup .modal-header .close {
  margin-top: 3px;
}
.deliveryZipPopup .close {
  float: right;
  font-size: xx-large;
  font-weight: 700;
  line-height: 1;
  color: #000;
  padding: 0 5px 0 5px;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  border: 1px solid #000;
  border-radius: 20px;
  background-color: #fdb927;
}
.deliveryZipPopup .modal-header {
  width: 50%;
}
.deliveryZipPopup .pin-container.a-center {
  padding: 10px;
  color: #fdb927;
}
.modal-content{
  border: none;
}
.authenticate-dropbtn {
  font-size: 14px;
  font-weight: 700;
  text-transform: capitalize;
  background-color: unset;
  border: none;
}
.authenticate-dropdown-content {
  overflow: hidden;
  display: block;
  width: 300px;
  position: absolute;
  font-size: 18px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 8px 16px 0px rgba(59,41,100, 0.7);
  z-index: 1;
  -webkit-transition: max-height 0.15s ease-out;
  -moz-transition: max-height 0.15s ease-out;
  -o-transition: max-height 0.15s ease-out;
  transition: max-height 0.15s ease-out;
  max-height: 0;
  /* overflow-y: scroll; */
}

.authenticate-dropdown-content a {
  color: #000;
  padding: 5px 0px;
  text-decoration: none;
  /* display: block; */
  float: unset !important;
  text-transform: capitalize;
  font-weight: bolder;
  font: 16px/1.35 Gotham_Book_Regular, Lato,Helvetica Neue, Helvetica, Arial, sans-serif;
}
.authenticate-dropdown-content a:hover{
  color: #fff;
}
/* .product-details{
  width: 50% !important;
} */
.hoverClass {
  max-height: 500px;
  transition: max-height 0.25s ease-in;
}
.topcart-content .product-image {
  float: left;
}
.authenticate-dropdown-content .product-name a {
  color: #fdb927;
}
.product-details span.product-name {
  text-align: left;
  font-size: 15px;
}
.my-cart-container span.amount-content {
  font-size: 14px;
  cursor: text;
  float: left;
  margin: 10px;
}
.my-cart-container .subtotal span.label {
  float: left;
  color: #888;
  font-weight: 700;
}
.my-cart-container .subtotal span.price {
  float: right;
  margin-right: 15px;
}

.my-cart-container .actions a {
  color: #fff;
  padding: 8px;
  border: 1px solid #fff;
}
.my-cart-container .actions a:hover {
  color: #000;
  padding: 8px;
  background-color: #fff;
  border: 1px solid #000;
}
.my-cart-container .actions .goto-cart {
  margin-top: 11px;
}
.topcart-popup-content p.amount-content {
  font-size: 12px;
  float: left;
  margin-left: 10px;
}
.topcart-content .item p.product-name {
  font-size: 1em;
  float: left;
  text-align: left;
  line-height: 1;
}
.topcart-content .product-details {
  float: left;
  width: 60%;
  font-size: 18px;
  text-align: left;
  color: #000;
}
.topcart-popup-content span.cart_subTotal {
  float: left;
  margin: 10px;
}
.topcart-popup-content .subtotal span.price {
  margin: 10px;
  float: right;
}
.topcart-popup-content .actions .goto-cart {
  border: 1px solid #fff;
  width: 40%;
  font-size: 12px;
  margin: 10px auto;
  padding: 5px 0;
}
.topcart-popup-content .actions .goto-cart:hover{
  border: 1px solid #000;
  background-color: #fff;
}
.topcart-popup-content .actions .wrapper_bottom_button span {
  color: #fff;
  text-transform: uppercase;
}
.topcart-popup-content .actions .goto-cart:hover  span:hover {
  color: #000;
}
.topcart-popup-content .actions .goto-cart:hover  span{
  color: #000;
}
.topcart-popup-content .product-name a {
  font-size: 14px;
}
.topcart-content .product-details span.price {
  color: #000;
}
.topcart-content .amount-content a:hover {
  color: #000;
}

.my-account-dropdown-content {
  /* overflow: visible; */
  display: none;
  width: 200px;
  position: absolute;
  background-color: #fff;
  text-align:center;
  box-shadow: 0px 8px 16px 0px rgba(59,41,100, 0.7);
  z-index: 1;
  -webkit-transition:max-height 0.15s ease-out;
    -moz-transition:max-height 0.15s ease-out;
    -o-transition:max-height 0.15s ease-out;
    transition:max-height 0.15s ease-out;
    max-height: 0;
}

.my-account-dropdown-content a {
  color: #fdb927;
  padding: 5px 5px;
  text-decoration: none;
  display: block;
  text-transform: capitalize;
  font-weight: bolder;
  font: 16px/1.35 Gotham_Book_Regular, Lato,Helvetica Neue, Helvetica, Arial, sans-serif;
}
.my-account-dropdown-content a:hover{
  color: #fdb927;
}
.secondary-add-btn{
  margin-left: 20%;
}



.my-account-secondry-dropdown-content {
  margin-top: -20%;
  display: none;
  width: 250px;
  position: absolute;
  background-color: #fff;
  text-align:center;
  box-shadow: 0px 8px 16px 0px rgba(59,41,100, 0.7);
  z-index: 1;
  -webkit-transition:max-height 0.15s ease-out;
    -moz-transition:max-height 0.15s ease-out;
    -o-transition:max-height 0.15s ease-out;
    transition:max-height 0.15s ease-out;
    max-height: 0;
}

.my-account-secondry-dropdown-content a {
  color: #fdb927;
  /* padding: 5px 0px; */
  text-decoration: none;
  display: block;
  text-transform: capitalize;
  font-weight: bolder;
  font: 11px/1.35 Gotham_Book_Regular, Lato,Helvetica Neue, Helvetica, Arial, sans-serif;
  float: left;
}
.my-account-secondry-dropdown-content a:hover{
  color: #fdb927;
}

.secondary-dropdown:hover .my-account-secondry-dropdown-content {
  /* max-height: 400px; */
  max-height: 430px;
  display: block;
  overflow-y: scroll;
  right: 100%;
  padding: 10px;
  /* position: absolute; */
  transition: max-height 0.25s ease-in;
}
.authenticate .my-account-dropdown-content li {
  display: inline-block;
  padding: 0;
  margin: 0;
}
.my-account-secondry-dropdown-content span.secondary-head {
  background-color: #fdb927;
  display: block;
  text-transform: capitalize;
  font-size: 16px;
  padding: 10px;
  margin-bottom: 10px;  
  color: #fff;
}
.my-account-secondry-dropdown-content .product-image {
  /* float: left; */

width: 85px;
}
.my-account-secondry-dropdown-content span.secondary-bottom {
  background-color: #7773A8;
  border: 1px solid #7773A8;
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  /* float: left; */
  clear: both;
  margin: 0;
  padding: 10px;
  margin-bottom: 0px;
  text-align: center;
}

.my-account-secondry-dropdown-content span.secondary-bottom:hover{
  background-color: #fff;
  color: #fdb927;
  border: 1px solid #7773A8;
}
.my-account-secondry-dropdown-content .product-name{
margin-top: 10%;
}
@media screen and (min-width: 768px) {
  .hp-footer-content a.button {
    margin: 0 20px;
  }
  .email-search-input{
    float: left;
  }
  .social-icon.right {
    float: right !important;
  }
  .register .form-lists .field {
    margin-right: 30px;
    margin-left: 0;
  }
  .register .subscription-field .subcription-input {
    margin: 20px 0;
  }
  .register .em-footer-bottom .block {
    display: inline-block;
    width: 50%;
    text-align: right;
  }
  .register .fotter-container .row-two ul {
      display: inline-block;
      width: 100%;
      margin: 0;
  }
  .register .em-footer-bottom .block .share li:nth-child(1) {
    background: #fff;
    width: 68%;
    display: inline-block;
    font: 14px/1.55  Gotham_Book_Regular, Lato,Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  .register .em-footer-bottom .block .share .links a{
    padding: 5px;
  }
  .register .em-footer-bottom .block .subscribe-div li:nth-child(1){
    width: 50%;
    background-color: transparent;
  }
  .register .em-footer-bottom .block .subscribe-div li:nth-child(1) .email-search-input {
    width: 100%;
    font: 14px/1.55 Gotham_Book_Regular,Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
  }
  .register .em-footer-bottom .block .subscribe-div li:nth-child(2){
    width: 14%;
    background: transparent;
  }
  .register .em-footer-bottom .block .subscribe-div li:nth-child(2) .email-submit-input {
    padding: 0 10px;
    width: auto;
  }
 
  .dropdown:hover .my-account-dropdown-content {
    max-height: fit-content;
  max-height: -moz-max-content; 
  max-height: -webkit-max-content; 
    display: block;
    transition: max-height 0.25s ease-in;
  }
  .dropdown:hover .authenticate-dropdown-content {
    max-height: fit-content;
    max-height: -moz-max-content; 
    max-height: -webkit-max-content; /* 400px */
    /* overflow-y: scroll; */
    transition: max-height 0.25s ease-in;
  }
  .menu-container {
    column-count: 7; 
  }
  .hover-Menu-Class .my-account-secondry-dropdown-content {
    transform: translate(-239px,10px);
    max-height: unset;
  }
  .hover-Wishlist-cart .my-account-dropdown-content {
    max-height: unset;
  }
  .category .dropdown-content {
    max-height: fit-content;
    max-height: -moz-max-content; 
    max-height: -webkit-max-content; 
    height: fit-content;
    width: 1111px;
    /* transform: translate(-420px,0);  */
    /* transform: translate(0,5px);  */
  }
  

}
@media screen and (max-width: 767px) {
  .hp-footer-content a.button {
    margin: 0 3px;
  }
  .block.social-icon span.social-title {
    margin: 10px 0 0 0;
    transform: translate(15px, 0);
  }
  .block.mobile-only {
    margin-bottom: 10px;
  }
  .register .subscription-field {
    margin-bottom: 10px;
  }
  .register .form-lists .field {
      width: 100%;
      float: none;
      margin: 0;
  }
  .register .em-footer-bottom .block {
    display: block;
    width: 100%;
  }
  .register .fotter-container .row-two ul {
      display: block;
      width: 100%;
      margin: 0;
  }
  .register .em-footer-bottom .block .share li:nth-child(1) {
    background: #fff;
    width: 45%;
    text-align: right;
    display: inline-block;
    font: 14px/1.55  Gotham_Book_Regular, Lato,Helvetica Neue, Helvetica, Arial, sans-serif;
  }
  .register .em-footer-bottom .block .share .links a{
    padding: 5px; 
  }
  .register .em-footer-bottom .block .subscribe-div li:nth-child(1){
    width: 70%;
    background-color: transparent;
    padding: 0;
    margin: 0;
  }  
  .register .em-footer-bottom .block .subscribe-div li:nth-child(1) .email-search-input {
    width: 100%;
    font: 14px/1.55 Gotham_Book_Regular,Lato,Helvetica Neue,Helvetica,Arial,sans-serif;
  }
  .register .em-footer-bottom .block .subscribe-div li:nth-child(2){
    width: 14%;
    background: transparent;
    padding: 0;
    margin: 0;
  }
  .register .em-footer-bottom .block .subscribe-div li:nth-child(2) .email-submit-input {
    padding: 0 10px;
    width: auto;
    font-size: 95%;
    margin-left: 10px;
  }

  .megamenu.row.dropdown-menu.show{
    width: 100%;
  }
}
/* .em-footer-bottom{
  background: #eee;
} */
.social-icon ul li a{
  padding: 0 5px !important;
}
.social-icon span.social-title{
  font-size: 14px;
  float: left;
  margin: 5px 0px;
}
.search-bar input.search-input{
  height: 33px;
  border-radius: 10px;
  width: 70%;
  border: 1px solid #fff;
}
.storeSwitcher select {

  /* styling */
  background-color: white;
  border: thin solid blue;
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.5em;
  padding: 0.5em 3.5em 0.5em 1em;

  /* reset */

  margin: 0;      
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
}



.storeSwitcher select.minimal {
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

.storeSwitcher select.minimal:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}
.categoriesCls, .category li.menu-item-link{
  color: #3b2964;
    font-weight: bolder;
    font: 12px/1.35 Gotham_Book_Regular, Lato,Helvetica Neue, Helvetica, Arial, sans-serif;
    text-decoration: none;
}
.categoriesCls .mainLi{
  background: #fff;
  color: #fdb927;
}
.categoriesCls .childLi{
  color: #a1a1a1;
}
/* menu categories */
.menu-container {
  /* column-count: 8; */
  column-gap: 15px;
  /* padding: 10px; */
  max-height: 500px;
  overflow-y: scroll;
  width: auto !important;
  height: auto !important;
}
.category .dropdown-content {
  overflow: auto;
  /* width: auto; */
  position: absolute;
  /* transform: translate(-420px,10px); */
  background-color: #fff;
  text-align: center;
  /* box-shadow: 0px 8px 16px 0px rgba(59,41,100, 0.7); */
  z-index: 2;
  -webkit-transition: max-height 0.15s ease-out;
  -moz-transition: max-height 0.15s ease-out;
  -o-transition: max-height 0.15s ease-out;
  transition: max-height 0.15s ease-out;
  max-height: 0;
  /* left: 100px; */
}
.category .dropdown-content:hover {
  overflow: visible;
  /* width: auto; */
  /* transform: translate(-420px,10px); */
  position: absolute;
  background-color: #fff;
  text-align: center;
  /* box-shadow: 0px 8px 16px 0px rgba(59,41,100, 0.7); */
  z-index: 1;
  -webkit-transition: max-height 0.15s ease-out;
  -moz-transition: max-height 0.15s ease-out;
  -o-transition: max-height 0.15s ease-out;
  transition: max-height 0.15s ease-out;
  /* max-height: 0; */
}
.category li.menu-item-link:hover {
  color: #fdb927;
}
.category ul li:hover {
  background-color: #fff;
}
.category ul li ul li {
  padding: 5px;
}
.category ul li ul {
  width: auto;
  height: auto;
}
.category li.menu-item-text {
  text-align: left;
}
.category li.menu-item-text .item-name-span {
  padding: 5px;
  font-weight: bold;
  font-size: 12px;
  color: #f7931e;
  text-decoration: underline;
  text-transform: uppercase;
}
/* menu categories */
.AutoCompleteText{
	width: 95%;
  box-shadow: 0 0 0 1px rgba(0,0,0,0.1),0 2px 4px 1px rgba(0,0,0,0.18);
  font-size: 14px;
  color:rgba(0,0,0,0.73);
  border-radius: 3px;
  background: #FFF;
  border: 1px solid #ccc;
  padding: 5px;
  position: absolute;
  top: 50px;
  /* width: 33%; */
  z-index: 102;
  font: 14px/1.55  Gotham_Book_Regular, Lato,Helvetica Neue, Helvetica, Arial, sans-serif;
  font-weight: normal;
}
.AutoCompleteText:before {
    border-color: transparent transparent #CCC transparent;
    content: "";
    position: absolute;
    border-style: solid;
    border-width: 5px;
    height: 0;
    width: 0;
    top: -11px;
    left: 30px;
}

.AutoCompleteText img {
  vertical-align: middle;
}
.AutoCompleteText ul {
  list-style-type:none;
  text-align: left;
  margin:0;
  padding:0;
  border-top: 1px solid grey;
  list-style: none;
  max-height: 500px;
  overflow: auto;
}
.AutoCompleteText ul::before{
  content:"";
}
.AutoCompleteText li{
  padding:10px 5px;
  cursor: pointer;
  text-align: left;
  padding: 5px 5px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
}
.AutoCompleteText li:hover{
  background-color: #eeffee;
  cursor: pointer;
}
.searchautocomlete-image{
  float: left;
  margin: 0px 10px 5px 0px;
}
.highlight{
  color: #444;
  font-weight: bold;
  display: block;
  margin-bottom: 3px;
  padding: 0 30px;;
}
.highlight:hover{
  color: #fdb927;
  text-decoration: none;
}
.highlight strong {
  color: #f00;
}
.extra-detail {
  color: #888;
}
.extra-detail span {
  padding: 0 5px;
}
.all-result{
  color:#fdb927;
}

.dropdown.hover-Wishlist-cart .my-account-dropdown-content, 
.secondary-dropdown.hover-Menu-Class .my-account-secondry-dropdown-content {
  display: block;
}

.my-account-link-color{
  color: #fdb927;
}
/* .my-account-secondry-dropdown-content ul {
  width: 250px !important;
} */