/* Banner */

/* .hp-banner {
    margin-left: -35px;
    margin-right: -35px;
    margin-top: 0px;
}
*/
.hp-banner .carousel-control{
        display: none;
}
.hp-banner-mobile .carousel-control{
    display: none;
}

.hp-banner-mobile{
    display: none;
}

@media only screen and (max-width:767px){
    .hp-banner{
        display: none;
    }
    .hp-banner-mobile{
        display: block;
    }
    .carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img{
        height: 150px !important;
    }
}
/* Banner */

/* Whole Sale Flowers */

.hp-widget-row-name {
   
    background-color: #fff;
    overflow: hidden;
}

.hp-widget-title{
    border-bottom-width: 1px;
    border-bottom-style: solid;
    margin-bottom: 10px;
    font-size: 100%;
    border-color: #e1e1e1;
}

h3 {
    
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.hp-widget-line .hp-widget-title h3, .hp-widget-line .hp-widget-title h1 {
    
    border-bottom-width: 3px;
    border-bottom-style: solid;
    padding-bottom: 10px;
    display: inline-block;
    margin-bottom: -1px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    color: #000000;
    font: 20px/1.35  Gotham_Book_Regular, Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
    border-color: #fdb927;
}

.hp-widget-line {
    position: relative;
    margin-bottom: 50px;
}

.hp-product-cart {
    border: 1px solid #eee;
    margin: 2%;
    padding: 3%;
}

.hp-product-cart h2{

    color: #434343;
    font: 30px/1.35  Gotham_Book_Regular, Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
}


/* Whole Sale Flowers */

/* Footer Content */

.hp-footer-content {
    padding: 1% 7%;
    text-align: justify;
    font-size: 13px;
    background-color: #F6F6F6;
    /* margin: 15px -35px; */
    margin: 0 0 2%;
}

.hp-footer-content a.button {
    background-color: #7773A8;
    padding: 5px 20px;
    font-size: 14px;
    color: #fff;
    border: 1px solid #7773A8;
}

.hp-footer-content div {
    display: block;
}

.hp-footer-content .a-center {
    text-align: center !important;
}

.hp-footer-content h4 {
    font: 16px/1.35  Gotham_Book_Regular, Raleway, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 100%;
    color: #575757;
    font-size: 14px;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.hp-footer-content p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 13px;
    margin: 0 0 10px;
}

/* Footer Content */

/* Carousel */

.hp-carousel h3{
    color: #000000;
    border-bottom: solid;
    border-color: #fdb927;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    padding-bottom: 10px;
    display: inline-block;
}

.hp-carousel .carouselParentDiv{
    
    background-color: #ffffff;
    cursor: pointer;
    border: 1px solid #ffffff;
    width: 80%;
}

.hp-carousel .carouselImgDiv{
    
    border: 1px solid #bbbbbb;
    border-radius: 50%;
}

.hp-carousel .carouselImg{
    border-radius: 100%;
    height: 250;
    width: 250;
}

.hp-carousel .product-name span {
    color: #434343;
    font-weight: normal;
}

.hp-carousel .product-name {
    min-height: 36px;
    margin: 15px;
    width:80%;
}

.product-name span:hover, .product-name span:focus, .product-name apan:active {
    color: #fdb927;
    text-decoration: none;
}

.hp-carousel .carouselTextDiv {
    text-align: center;
    /* color: black; */
}

.hp-carousel .carouselTextDiv p{
    min-height: 50px;
}

.add-to-cart .btn-cart {
    background: #7773A8;
    /* padding: 5px 20px; */
    font-size: 14px;
    color: #fff;
    border-radius: 2px;
    font-weight: normal;
}

/* .hp-carousel .hp-carouselParentDiv:hover {
    
    box-shadow: 0 0 10px #d4d4d4;
    text-decoration: none;
} */

/* .hp-carousel .hp-carouselParentDiv:hover .carouselImgDiv {
    
    background: #323232;
    border-radius: 3%;
} */

/* Alice Carousel */

.hp-carousel .alice-carousel__prev-btn {
    
    text-align: left !important;
}

.hp-carousel .alice-carousel__next-btn-wrapper {
    
    background: #eee;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    color: #a1a1a1 !important;
    border-color: #f1f1f1;
    background-color: #f1f1f1;
}

.hp-carousel .alice-carousel__next-btn-item span, .alice-carousel__prev-btn-item span{
    display: none;
}

.hp-carousel .alice-carousel__next-btn-item:after {
    content: '>';
    font-weight: bold;
    font-size: 175%;
    padding: 60%;
    color: #a1a1a1;
    opacity: 1;
}

.hp-carousel .alice-carousel__prev-btn-wrapper {

    background: #eee;
    height: 35px;
    width: 35px;
    border-radius: 100%;
    color: #a1a1a1 !important;
    border-color: #f1f1f1;
    background-color: #f1f1f1;
    margin-left: 95%;
}

.hp-carousel .alice-carousel__prev-btn-item:after {
    content: '<';
    font-weight: bold;
    font-size: 175%;
    padding: 60%;
    color: #a1a1a1;
    opacity: 1;
}

.hp-carousel .alice-carousel__prev-btn-wrapper:hover, .hp-carousel .alice-carousel__next-btn-wrapper:hover{
    border-color: #fdb927;
    background-color: #fdb927;
}

.alice-carousel__prev-btn-wrapper:hover p, .alice-carousel__next-btn-wrapper:hover p{
   color: #ffffff;
}

/* Alice Carousel */

.hp-carousel .hp-carouselParentDiv:hover .hp-carouselImg {
   
    border-radius: 3%;
    opacity: 0.3;
    transition: ease-in-out 0s;
}

.add-to-cart span:hover, .add-to-cart span:focus .add-to-cart span:active {
    background-color: #ffffff;
    color: #7773A8;
    border-color: #7773A8;
    /* border-radius: 5px; */
}

/* Carousel */

/* Panel Message */

.message-panel {
    padding: 5px;
}