input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    {/*width: 400px;*/}
    
    }
    .no-outline:focus {
    outline: none;
    }
    .parent {
        display: block;
        position: relative;
        line-height: 40px;
        z-index: 2;
    }
    .parent a{
        margin: 10px;color: #FFFFFF;text-decoration: none;
    }
    .parent:hover > ul {
        display:block;position:absolute;
    }
    .child {
        display: none;
    }
    .child li {
      
        background-color: #E4EFF7;
        line-height: 30px;
        border-bottom:#CCC 1px solid;
        border-right:#CCC 1px solid;
         width:250px;}
    .child li a{color: #000000;}
    ul{list-style: none;
        margin: 0;padding: 0px;
         min-width:10em;}
    ul ul ul{left: 100%;
        top: 0;
        margin-left:1px;}
    {/*li:hover {background-color: #95B4CA;}*/}
    .parent li:hover {background-color: #F0F0F0;}
    .expand{font-size:12px;float:right;margin-right:5px;}




    .parent1 {
        display: block;
        position: relative;
        z-index: 1;
    }
    .parent1 a{
        color: #FFFFFF;text-decoration: none;
    }
    .parent1:hover > ul {
        display:block;position:absolute;
    }
    .child1 {
        display: none;
    }
    .child1 li {
      
        background-color: #E4EFF7;
        line-height: 30px;
        border-bottom:#CCC 1px solid;
        border-right:#CCC 1px solid;
         width:280px;}
    .child1 li a{color: #000000;}
    ul{list-style: none;
        margin: 0;padding: 0px;
         min-width:10em;}
    ul ul ul{left: 100%;
        top: 0;
        margin-left:1px;}
    {/*li:hover {background-color: #95B4CA;}*/}
    .parent li:hover {background-color: #ccc;}
    .expand1{font-size:12px;float:right;margin-right:5px;}
    