.myFvrtMainDiv{
    border: 1px solid #eee;
    clear: both;
    display: block;
    width: 80%;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
.myFavMoreAvlsCls{
    color: #f7931e;
    cursor: pointer;
}
.myFavMoreDtlsCls{
    float: right;
}