.tableWOheader{
    padding: 0px !important;
}
.tableWOheader thead{
    display: none;
}
.reviewDetailModal .modal-title{
    padding: 15px;
    text-align: center;
}
.reviewDetailModal .close{
    color: black;
    padding: 15px;
}

.pr-hover {
    display: none;
}

div.pr-display:hover + div.pr-hover, div.pr-hover:hover {display:block;}

.pr-hover {
    z-index: 99;
    position: absolute;
    background:white;
    box-shadow:1px 1px 5px #888888;
    width: 50%;
    font-size: 11px;
}

.pr-hover-table {
    margin: 8px;
    font-size: 11px;
}

.pr-hover-table thead {
    display: block !important;
    /* border-bottom: 1px solid #888; */
}

.pr-hover-table tbody tr {
    border: 0;
}

.pr-hover-table {
    margin: 0;
}
.pr-hover {
    padding:5px;
}
.pr-hover td:nth-child(even) {
    word-break: break-word;
    white-space: normal;
}